
     <div class="jumbotron geo2">
        <div class="container text-center">
            <h1 class="">Our Team</h1>
        </div>
    </div>
    <div class="spacer hidden-xs"></div>
    <div class="container">
        <div class="quote">
             To provide technology products, services, and support to small and medium size businesses in order to promote the highest level of protection and productivity, thus increasing profitability. We will achieve this through clear communication, ongoing personal interactions, and dedication to understanding the goals and desires of our client partners.<br><br>
            <footer class="logoFont">- Our Mission</footer>
        </div>
        <div class="spacer"></div>
        <div class="stripedLine"></div>
        <div class="spacer"></div>
        <div id="techs" class="row">
             <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="img-circle" id="zach"></div>
                <blockquote>
                    <h3>Zach Hart</h3>
                    <p>
                        <i>President/CEO</i>
                    </p>
                </blockquote>
                <div style="clear: both"></div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="img-circle" id="mattF"></div>
                <blockquote>
                    <h3>Matt Fager</h3>
                    <p>
                        <i>COO/CIO</i>
                    </p>
                </blockquote>
                <div style="clear: both"></div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="img-circle" id="matt"></div>
                <blockquote>
                    <h3>Matt Quinn</h3>
                    <p>
                        <i>CTO</i>
                    </p> 
                </blockquote>
                <div style="clear: both"></div>
            </div>
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="img-circle noPic" id=""></div>
                <blockquote>
                    <h3>Jamie Hart</h3>
                    <p>
                        <i>CFO</i>
                    </p>
                </blockquote>
                <div style="clear: both"></div>
            </div>
            
             <div class="spacer"></div>
        </div>
    </div>