
     <div class="jumbotron geo2">
        <div class="container text-center">
            <h1 class="">Our Team</h1>
            <p>We hire people that are passionate about their trade and love to have fun at work. We all have lives outside of the office and we aim to make that life better, encouraging our team to take some time during the week for fun activities like games or exercise.</p>
        </div>
    </div>
    <div class="spacer hidden-xs"></div>
    <div class="container">
        <div id="techs" class="row">
            <div class="col-sm-6">
                <div class="img-circle" id="mattF"></div>
                <blockquote>
                    <h3>Matt Fager</h3>
                    <p>
                        <i>COO/CIO</i>
                    </p>
                </blockquote>
                <div style="clear: both"></div>
            </div>
            <div class="col-sm-6">
                <div class="img-circle" id="matt"></div>
                <blockquote>
                    <h3>Matt Quinn</h3>
                    <p>
                        <i>CTO</i>
                    </p> 
                </blockquote>
                <div style="clear: both"></div>
            </div>
             <div class="col-sm-6">
                <div class="img-circle" id="zach"></div>
                <blockquote>
                    <h3>Zach Hart</h3>
                    <p>
                        <i>President/CEO</i>
                    </p>
                </blockquote>
                <div style="clear: both"></div>
            </div>
            
             <div class="spacer"></div>
        </div>
    </div>