

    <div class="jumbotron">
        <div class="container text-center">
            <span class="imgText">Coming Soon!</span>
        </div>
    </div>

    
    <div class="container">
        <h1 id="about">About IT Craft</h1>
        
        <h1 id="Services">Services</h1>
        <div class="row">
            <div class="col-sm-6 text-center">
                
            </div>
            <div class="col-sm-6 text-center">
                
                
            </div>
        </div>
        <h1 id="about">Our Techs</h1>
        <div id="techs" class="row">
            <div class="col-sm-6">
                <div class="img-circle" id="matt"></div>
                <blockquote>
                    <h3>Matt Quinn</h3>
                    <p>
                        <i>President</i><br>
                        p: 949.432.6100 ext. 101
                    </p>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <div class="img-circle" id="sam"></div>
                <blockquote>
                    <h3>Sam Johnson</h3>
                    <p>
                        <i>Systems Analyst I</i><br>
                        p: 949.432.6100 ext. 102
                    </p>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <div class="img-circle" id="tristan"></div>
                <blockquote>
                    <h3>Tristan Galindo</h3>
                    <p>
                        <i>Systems Analyst III</i><br>
                        p: 949.432.6100 ext. 103
                    </p>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <div class="img-circle" id="max"></div>
                <blockquote>
                    <h3>Max Rennie</h3>
                    <p>
                        <i>Jr. Systems Analyst I</i><br>
                        p: 949.432.6100 ext. 104
                    </p>
                </blockquote>
            </div>
        </div>
    </div>