<div id="home">
    <div class="jumbotron splash">
        <div class="container text-center">
            <span class="imgText">
                <img src="../../Assets/Images/Logo.png">
                <h3>A good fit for your business</h3>
                <a href="#/services" class="btn btn-warning btn-lg"><i class="fa fa-search"></i>&nbsp;Discover More</a>
            </span>
        </div>
    </div>
</div>

    
    <!--<div class="container">
        <h1 id="about">How <span class="text-danger">IT</span> Works</h1>
    </div>