
<div id="servicesPage">
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="">Your Virtual <span class="text-danger b">IT</span> Department</h1>
            <p>Shirk off your current cliché IT services and brandish a new aggressive <br>IT infrastructure framework that will put your current IT services model to shame.</p>
        </div>
    </div>
    <div class="container">
    	<h2 class="text-center text-danger">We offer two services that set us apart from our competitors:</h2>
	    <p>
	    	Your business needs to be competitive. Let’s face it, there are thousands of others just like it unless you have that competitive advantage. Your teams need to be laser focused on their services so that you can create a business that can expand and compete. The last thing you want is for your teams to be waiting on their computers to load or be repaired. That’s where our competitive advantage comes in. 
	    </h3>
    </div>
    <div class="spacer"></div>
    <div class="banner texture">
    	<div class="container">
    		<div class="row">
	    		<div class="col-sm-5">
		    		<h2><div class="circleIcon">1</div>Virtual IT Department</h2>
				</div>
				<div class="col-sm-7" style="margin-top: 10px;">
		    		<p>Without the right technology and guidance, your business will seem sluggish and problematic. We provide you with a CTO for consultation, the friendliest service desk you’ve ever experienced, and a slew of apps that do everything from security to automation. We do all this for an affordable monthly rate. And no, there are no lame hidden fees.</p>
			 	</div>
	    		<br>
		 	</div>
	 	</div>
  	</div>
  	<div class="container">
  		<div class="spacer"></div>
  		<div class="row">
	  		<div class="col-sm-5">
	    		<h2><div class="circleIcon">2</div>Virtual IT Infrastructure</h2>
			</div>
			<div class="col-sm-7" style="margin-top: 10px;">
	    		<p>A competitive approach to managing your network. Instead of purchasing expensive servers and workstations, put it in the cloud. We have created an environment that can host all your workstations and servers. All you need on your end is the internet (which we can make redundant so that you don’t lose connection).</p>
		 	</div>
		 	<div class="spacer"></div>
		 	<div class="spacer"></div>
		 	<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon orange">
			    			<span class="fa-stack fa-lg">
							  <i class="fa fa-circle-thin fa-stack-2x"></i>
							  <i class="fa fa-expand fa-stack-1x" ng-class="{'fa-spin': hover}"></i>
							</span>
							<div class="rightOrange"></div>
			    		</div>
		    			<div class="iconPanelCont">
	    					<h3>Scalable</h3>
	    					<p>
	    						Need a new workstation or more space on your server? Just let us know and boom! It’s there. No waiting for hardware or the IT guy to show up.
							</p>
			    		</div>
		    		</div>
				</div>
			</div>
			<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon blue">
			    			<span class="fa-stack fa-lg">
							  <i class="fa fa-circle-thin fa-stack-2x"></i>
							  <i class="fa fa fa-building-o fa-stack-1x"></i>
							</span>
							<div class="rightBlue"></div>
			    		</div>
			    			<div class="iconPanelCont">
    					<h3>Enterprise Grade</h3>
    					<p>
    						Instead of depending on your SMB equipment, our cloud systems have enterprise grade redundancy and security.
						</p>
		    		</div>
	    		</div>
			</div>
			</div>
			<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon blue">
			    			<span class="fa-stack fa-lg">
							  <i class="fa fa-circle-thin fa-stack-2x"></i>
							  <i class="fa fa-usd fa-stack-1x"></i>
							</span>
							<div class="rightBlue"></div>
			    		</div>
			    			<div class="iconPanelCont">
    					<h3>Affordable</h3>
    					<p>
    						For a small fraction of the price of a new machine, you can purchase a small client that connects to your workstation in the cloud. You can have a couple spares if you want so that if one fails, you just swap it out and that user is back online.
						</p>
		    		</div>
	    		</div>
			</div>
			</div>
			<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon orange">
			    			<span class="fa-stack fa-lg">
							  <i class="fa fa-circle-thin fa-stack-2x"></i>
							  <i class="fa fa-random fa-stack-1x"></i>
							</span>
							<div class="rightOrange"></div>
			    		</div>
			    			<div class="iconPanelCont">
    					<h3>Flexibility</h3>
    					<p>
    						Your network is malleable. Making changes and need the technology to support it? Not a problem. Because of the resources we have on hand, we can tailor the network to your needs on the fly.
						</p>
		    		</div>
	    		</div>
			</div>
			</div>
	 	</div>
 	</div>
 	<div class="spacer"></div>
 	  <div class="banner geo">
    	<div class="container">
    		<div class="row">
	    		<div class="text-right col-md-8 col-md-offset-4">
		    		<h2>Know Someone That Needs Help?</h2>
		    		<p>Without the right technology and guidance, your business will seem sluggish and problematic. We provide you with a CTO for consultation, the friendliest service desk you’ve ever experienced, and a slew of apps that do everything from security to automation. We do all this for an affordable monthly rate. And no, there are no lame hidden fees.</p>
		    		<button class="btn btn-primary">Refer A Friend</button>
		    		<br>
			 	</div>
		 	</div>
	 	</div>
  	</div>
</div>