
<div id="servicesPage">
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="">Our Services</h1>
        </div>
    </div>
    <!-- <div class="container">
    	<h2 class="text-center text-danger">We offer ten services that set us apart from our competitors:</h2>
	    <p>
	    	Your business needs to be competitive. Let’s face it, there are thousands of others just like it unless you have that competitive advantage. Your teams need to be laser focused on their services so that you can create a business that can expand and compete. The last thing you want is for your teams to be waiting on their computers to load or be repaired. That’s where our competitive advantage comes in. 
	    </h3>
    </div>
    <div class="spacer"></div> -->
    <div class="container"><h1 class="text-center">Tailored Support</h1></div>
    <div class="banner service1">
    	<div class="container">
    		<div class="row">
				<div class="col-sm-6">
					<img src="../../Assets/Images/itape_measure@2x.png" class="serviceImg" />
					<div class="serviceTxt">
			    		<h2>Comprehensive Tailored Support Plans</h2>
			    		<p>Remote Monitoring and Maintenance, Helpdesk, Onsite Support, Network Support, CIO...</p>
		    		</div>
		    		<img src="../../Assets/Images/ilow_price@2x.png" class="serviceImg" />
					<div class="serviceTxt">
			    		<h2>Pre-paid Support</h2>
			    		<p>Pre-Paid Support Plan - Bundled hours at discounted rates</p>
		    		</div>
		    		<img src="../../Assets/Images/ionline_support@2x.png" class="serviceImg" />
					<div class="serviceTxt">
						<h2>As-needed Support</h2>
			    		<p>As-Needed Support Plan - You call us when you need us </p>
		    		</div>
			 	</div>
	    		<br>
		 	</div>
	 	</div>
  	</div>
    
  	<div class="container"><h1 class="text-center">Tailored Services</h1></div>
    
    <div class="banner service2">
    	<div class="container">
    		<div class="row">
				<div class="col-sm-6 col-sm-offset-6">
		    		<img src="../../Assets/Images/inetwork_cable@2x.png" class="serviceImg" />
					<div class="serviceTxt">
						<h2>Structured Cabling</h2>
			    		<p>Office cabling is the true foundation to any network. Allow us to update, replace or implement your office cabling. </p>
		    		</div>
		    		<img src="../../Assets/Images/iopen_box@2x.png" class="serviceImg" />
					<div class="serviceTxt">
		    			<h2>Office Moves</h2>
			    		<p>Moving can be stressful! Let us help manage that stress by properly disconnecting, moving, and reconnecting your business-critical network equipment and servers.</p>
					</div>
					<img src="../../Assets/Images/iadmin_settings_male@2x.png" class="serviceImg" />
					<div class="serviceTxt">
						<h2>Project Management</h2>
			    		<p>Allow us to take on the management of projects, such as moving, by coordinating with vendors, working with contractors, and meeting deadlines.</p>
			 		</div>
			 	</div>

	    		<br>
		 	</div>
	 	</div>
  	</div>
  
  	<div class="container"><h1 class="text-center">Tailored Products</h1></div>
  	<div class="banner service3">
    	<div class="container">
    		<div class="row">
				<div class="col-sm-6">
					<img src="../../Assets/Images/idomain@2x.png" class="serviceImg" />
					<div class="serviceTxt">
						<h2>Remote Monitoring & Management</h2>
			    		<!-- <ul>
			    			<li>Server Backup</li>
							<li>Computer Backup</li>
							<li>Email Backup & Archive</li>
		    			</ul> -->
		    		</div>
		    		<div style="clear: both"></div>
					<img src="../../Assets/Images/icloud_storage@2x.png" class="serviceImg" />
					<div class="serviceTxt">
						<h2>BACKUP SERVICES </h2>
			    		<ul>
			    			<li>Server Backup</li>
							<li>Computer Backup</li>
							<li>Email Backup & Archive</li>
		    			</ul>
		    		</div>
		    <!-- 		<div class="circleIcon">3</div>
					<div class="serviceTxt">
			    		<h2>Web Hosting & Domain Registration</h2>
			    		<p>We can manage the registration of your domain names and maintain the hosting of your website. </p>
		    		</div> -->
		    		<img src="../../Assets/Images/ims_exchange@2x.png" class="serviceImg" />
					<div class="serviceTxt">
				 		<h2>Hosted Applications</h2>
			    		<ul>
			    			<li>Hosted Exchange - Email built on Microsoft Exchange servers</li>
							<li>Hosted Phone System (PBX) - Cloud-based phone system</li>
							<li>File Sync - File sharing & sync services</li>
		    			</ul>
	    			</div>
			 	</div>
	    		<br>
		 	</div>
	 	</div>
  	</div>
  
 <!--  	<div class="container">
  		<div class="spacer"></div>
  		<div class="row">
		 	<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon orange">
			    			<span class="fa-stack fa-lg">
							  <i class="far fa-circle fa-stack-2x"></i>
							  <i class="fas fa-expand-arrows-alt fa-stack-1x" ng-class="{'fa-spin': hover}"></i>
							</span>
							<div class="rightOrange"></div>
			    		</div>
		    			<div class="iconPanelCont">
	    					<h3>Scalable</h3>
	    					<p>
	    						Need a new workstation or more space on your server? Just let us know and boom! It’s there. No waiting for hardware or the IT guy to show up.
							</p>
			    		</div>
		    		</div>
				</div>
			</div>
			<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon blue">
			    			<span class="fa-stack fa-lg">
							  <i class="far fa-circle fa-stack-2x"></i>
							  <i class="far fa-building fa-stack-1x"></i>
							</span>
							<div class="rightBlue"></div>
			    		</div>
			    			<div class="iconPanelCont">
    					<h3>Enterprise Grade</h3>
    					<p>
    						Instead of depending on your SMB equipment, our cloud systems have enterprise grade redundancy and security.
						</p>
		    		</div>
	    		</div>
			</div>
			</div>
			<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon blue">
			    			<span class="fa-stack fa-lg">
							  <i class="far fa-circle fa-stack-2x"></i>
							  <i class="fas fa-dollar-sign fa-stack-1x"></i>
							</span>
							<div class="rightBlue"></div>
			    		</div>
			    			<div class="iconPanelCont">
    					<h3>Affordable</h3>
    					<p>
    						For a fraction of the price of a new machine, you can purchase a small client which connects to your workstation in the cloud. Spares are optional as a backup; if one fails, you just swap it out and that user is back online.
						</p>
		    		</div>
	    		</div>
			</div>
			</div>
			<div class="col-sm-6">
		 		<div class="panel panel-default servicesPanel">
		 			<div class="panel-body">
			    		<div class="angleIcon orange">
			    			<span class="fa-stack fa-lg">
							  <i class="far fa-circle fa-stack-2x"></i>
							  <i class="fas fa-random fa-stack-1x"></i>
							</span>
							<div class="rightOrange"></div>
			    		</div>
			    			<div class="iconPanelCont">
    					<h3>Flexible</h3>
    					<p>
    						Your network is malleable. Making changes and need the technology to support it? Not a problem. Because of the resources we have on hand, we can tailor the network to your needs on the fly.
						</p>
		    		</div>
	    		</div>
			</div>
			</div>
	 	</div>
 	</div>
 	<div class="spacer"></div> -->
 	  <!-- <div class="banner geo">
    	<div class="container">
    		<div class="row">
	    		<div class="text-right col-md-8 col-md-offset-4">
		    		<h2>Know Someone That Needs Help?</h2>
		    		<p>Without the right technology and guidance, your business will seem sluggish and problematic. We provide you with a CTO for consultation, the friendliest service desk you’ve ever experienced, and a slew of apps that do everything from security to automation. We do all this for an affordable monthly rate. And no, there are no lame hidden fees.</p>
		    		<button class="btn btn-primary">Refer A Friend</button>
		    		<br>
			 	</div>
		 	</div>
	 	</div>
  	</div> -->
</div>