body {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #325168;
}
.logoFont {
  font-family: 'Rajdhani', sans-serif;
}
.semibold {
  font-weight: 600;
}

#mainContent {
  min-height: 75vh;
}
.navbar.navbar-default {
  background: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0px;
  padding: 3px;
  height: 60px;
  text-align: center;
  z-index: 2;
}
.navbar.navbar-default .btn {
  padding: 6px 12px !important;
  margin-top: 6px;
}
.navbar .navbar-brand {
  padding: 3px 0;
}

a,
a:not(.md-button) {
  color: #fec340;
}
a:hover,
a:not(.md-button):hover {
  color: #fa9b0e;
}
.text-danger {
  color: #fec340 !important;
}
.text-default {
  color: #253b4f !important;
}
.text-info {
  color: #6baabd !important;
}
.text-muted {
  color: #b9c5c9 !important;
}
.b {
  font-weight: 600 !important;
}
h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 45px;
  color: #253b4f;
  border-bottom: 1px solid #b9c5c9;
  padding: 5px 0;
  margin: 0 -15px 10px;
}
h2 {
  font-size: 35px;
  font-family: 'Rajdhani', sans-serif;
}

.btn {
  border-radius: 0;
   text-transform: none;
}
 .btn-primary {
    background: transparent;
    border: 3px solid #253b4f;
    color: #253b4f !important;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .btn-primary.active:hover {
    background: #253b4f !important;
    border-color: #253b4f !important;
    color: white !important;
    
  }
  .btn-primary:disabled:hover {
      background: #1c2d3a !important;
      border-color: #1c2d3a !important;
      color: white !important;
  }
   .btn-default {
    background: transparent;
    border: 3px solid white;
    color: white !important;
  }
  .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.active, .btn-default.active:hover {
    background: white !important;
    border-color: white !important;
    color: gray !important;
    
  }
  .btn-default:disabled:hover {
      background: #1c2d3a !important;
      border-color: #1c2d3a !important;
      color: white !important;
  }

   .btn-warning {
    background: transparent;
    border: 3px solid #fec340;
    color: #fec340 !important;
    text-transform: none;
    border-radius: 0;
  }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning.active, .btn-warning.active:hover {
    background: #ea9e39 !important;
    border-color: #ea9e39 !important;
    color: white !important;
    
  }
  .btn-warning:disabled:hover {
      background: #ea9e39 !important;
      border-color: #ea9e39 !important;
      color: white !important;
  }
.btn-info {
  background: transparent;
  border: 3px solid #6A7076;
  color: #6A7076 !important;
}
 .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info.active, .btn-info.active:hover {
    background: #6A7076 !important;
    border-color: #6A7076 !important;
    color: white !important;
    
  }
  .btn-info:disabled:hover {
      background: #6A7076 !important;
      border-color: #6A7076 !important;
      color: white !important;
  }
.noMrgBtm {
  margin-bottom: 0 !important;
  display: inline-block;
}
.noMrg {
  margin: 0 !important;
}
.noMrgTop {
  margin-top: 0 !important;
}
.form-control {
  border-radius: 0;
}
#techs {
  margin-top: 25px;
}
#techs .img-circle {
  height: 140px;
  width: 140px;
  background-size: contain;
  border: 1px solid #e5e9ea;
  float: left;
}
#techs .img-circle#matt {
  background-image: url("../Images/Matt.png");
}
#techs .img-circle#matt:hover {
  background-image: url("../Images/Matt2.png");
}
#techs .img-circle#mattF {
  background-image: url("../Images/MattFager.jpg");
}
#techs .img-circle#mattF:hover {
  background-image: url("../Images/MattFager.jpg");
}
#techs .img-circle#zach {
  background-image: url("../Images/ZachHart.jpg");
}
#techs .img-circle#zach:hover {
  background-image: url("../Images/ZachHart.jpg");
}
#techs .img-circle.noPic {
  background-image: url("../Images/nobody.jpg");
}
#techs .img-circle.noPic:hover {
  background-image: url("../Images/tristan2.png");
}
#techs blockquote {
  float: left;
  margin: 15px 15px;
}
#techs blockquote h3 {
  margin-top: 0;
  color: #fec340;
}
#techs .col-sm-6 {
  margin-bottom: 15px;
}
.quote {
  font-size: 24px;
  color: gray;
  text-align: center;
  font-style: italic;
}
.quote footer {
  color: gray;
  font-size: 21px;
  margin-top: 10px;
}
.stripedLine {
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(     
    45deg,     
    gainsboro 4px,     
    gainsboro 5px,     
    transparent 0px,     
    transparent 9px)
}
.jumbotron p {
  font-weight: 400;
}
.jumbotron {
  background-size: cover;
}
.splash {
  background-image: url("../Images/HomeBg.jpg");
  height: 92vh;
  padding-top: 8vh;
  margin-bottom: 0;
  background-position: center;
}
.banner {
  padding: 25px 0;
}
.texture {
  background-image: url("../Images/subtleBg.png");
}
.darkBanner {
  background: rgba(37,59,79, 0.5);
}
.geo {
  background: url(//i.imgur.com/dTkAeBa.png) center center no-repeat;
  background-position: center;
  color: white;
  position: relative;
  background-size: cover;
}
.geo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-radial-gradient(center,ellipse,rgba(0,0,0,0) 20%,#000 90%);
    background: radial-gradient(ellipse at center,rgba(0,0,0,0) 30%,#000 99%);
    opacity: .25;
    z-index: 0;
}
.geo2 {
  background: url(../Images/geoBg.png) center center no-repeat;
  background-position: center;
  color: white;
  position: relative;
  background-size: cover;
}
.geoBlue {
  background: url('../Images/blueGeo.png') center center no-repeat;
  background-position: center;
  color: white;
  position: relative;
  background-size: cover;
}
.laptop {
   background: url(//i.imgur.com/jpfkYOl.png) center center no-repeat;
   background-size: cover;
   color: white;
}
.rescue {
   background: url(//images.unsplash.com/photo-1493064452371-27cc07818a0f?auto=format&fit=crop&w=668&q=80) center center no-repeat;
   background-size: cover;
   color:;
}
.gridSquare {
  padding: 45px 5% 75px;
}
.darkBanner h1 {
  color: white;
}
.navbar-inverse {
  height: 60px;
}
.navbar-inverse a {
  font-size: 16px;
}
.navbar-inverse .navbar-brand {
  padding: 5px;
}
.imgText {
  font-size: 6em;
  color: #253b4f;
  display: inline-block;
  background: rgba(266,266,266,0.9);
  padding: 30px;
  text-align: center;
  max-width: 600px;
}
.imgText h3 {
  font-size: 0.32em;
  border-top: 1px solid white;
  padding-top: 14px;
  font-weight: 200;
}
.imgText img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0 -15px;
}
.imgText p {
  font-size: 35%;
}
h1 {
  margin: 25px 0;
}
h3 i {
  color: #fec340;
}
h3 .material-icons {
  top: 8px;
  margin-top: -10px;
}
p {
  font-size: 16px;
}
#downloadAppCol img {
  width: 30%;
  margin-top: 25px;
}
.footer {
  background: #253b4f;
  color: white;
  padding: 25px 0;
}
.footer #socialMedia {
  text-align: right;
  padding-top: 25px;
}
.footer #socialMedia a {
  color: white;
  opacity: 0.3;
  font-size: 2.7em;
  display: inline;
  margin-left: 10px;
}
.footer #socialMedia a:hover {
  text-decoration: none;
  color: white;
}
#servicesPage .jumbotron {
  background-image: url("//i.imgur.com/ujFg6C9.png");
  background-size: cover;
  background-position: center;
  color: white;
}
#servicesPage .banner {
  min-height: 200px;
  color: #253b4f;
}
#servicesPage h1 {
  border-bottom: none;
}
#servicesPage .banner h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
}
#servicesPage .banner.service1 {
  background-image: url("../Images/ServiceBanner1.png");
  background-size: cover;
  background-position: center;
}
#servicesPage .banner.service2 {
  background-image: url("../Images/ServiceBanner2.png");
  background-size: cover;
  background-position: center;
  color: white;
}
#servicesPage .banner.service3 {
  background-image: url("../Images/ServiceBanner3.png");
  background-size: cover;
  background-position: center;
}
#servicesPage .banner.service2 .circleIcon {
  border-color: white;
}

#servicesPage .banner.blueBg {
background-image: url("../Images/BlueBg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
#servicesPage .right {
  text-align: right;
}
#servicesPage .right .circleIcon {
  margin-left: 15px;
}
iframe {
  width: 100% !important;
  min-width: 100% !important;
  margin-top: -20px;
}
#calcBackLink {
  position: absolute;
  left: 0;
  right: 0;
}
.jumbotron {
  color: white;
}
.jumbotron h1 {
  border: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
.lrgIcon {
    font-size: 109px !important;
    margin-top: 4px;
}
.spacer {
  width: 100%;
  clear: both;
  height: 45px;
}
.serviceImg {
  display: inline-block;
  margin: 15px 15px 0 0px;
  width: 55px;
  position: relative;
  float: left;
}
.serviceTxt {
  display: inline-block;
  width: calc(100% - 70px);
  float: left;
}
#contactForm {
  background: white;
  margin-top: -196px;
  border: 1px solid gainsboro;
  padding: 11px 15px;
}
#contactForm textarea {
  min-height: 150px;
}
#captcha iframe {
  margin-top: 0 !important;
}
#captcha > div {
  display: block;
  margin: auto;
}
address {
  margin-bottom: 0;
}
#address {
  margin: 0;
  border-left: 3px solid gainsboro;
}
#addressMrkr {
    font-size: 2.8em;
}
.panel {
  border-radius: 0;
  box-shadow: 0px 2px 5px 1px gainsboro;
  border: none;
  transition: box-shadow 0.7s ease;
}
.panel:hover {
  box-shadow: 0px 2px 7px 1px grey;
}
.servicesPanel {
  position: relative;
  height: 165px;
}
#support .servicesPanel h3 {
  margin-top: 52px;
}
#help {
  background: ;
}
#help img {
  margin-right: 10px;
  float: right;
  margin-top: 6px;
  width: 110px;
}
#contact iframe {
  width: 300px;
  max-width: 100%;
  border: 1px solid gainsboro;
}
.panel-body h3 {
  margin-top: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 27px;
}
.angleIcon {
  width: 15%;
  display: inline-block;
  float: left;
  color: white;
  margin: -15px 15px -15px -15px;
  height: 100%;
  position: absolute;
  padding: 7.5% 0.75%;
  font-size: 2.5em;
}
.angleIcon .rightBlue {
  border-top: 82px solid transparent;
  border-bottom: 83px solid transparent;
  border-left: 41px solid #253B4F;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
}
.angleIcon .rightOrange {
  border-top: 82px solid transparent;
  border-bottom: 83px solid transparent;
  border-left: 41px solid #fec340;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
}
.angleIcon .fa-stack-1x {
  font-size: 1em;
}
.angleIcon .fa-stack {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.angleIcon .fa-stack-2x {
  height: 1.8em;
  width: 1.8em;
}
/*.angleIcon .fa-stack-1x:hover {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}*/
.servicesPanel .angleIcon.blue {
 background: #253B4F;
}
.servicesPanel .angleIcon.orange {
 background: #fec340;
}
.iconPanelCont {
  margin-left: 25%;
  display: inline-block;
  float: left;
  width: 75%;
}
.iconPanelCont p { 
  font-weight: 300;
}

@media (max-width: 1024px) {
  .panel-body h3 {
      margin: 0;
  }
  .angleIcon .rightBlue,
  .angleIcon .rightOrange {
    left: 99% !important;
  }
}

@media (max-width: 768px) {

  h2 {
    font-size: 1.7em;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse > .navbar-nav {
      margin: 0 !important;
  }
  .navbar.navbar-default .btn {
    margin-top: 2px;
  }
  #loginPage .jumbotron {
    padding-top: 10vh;
  }
  #loginPage .jumbotron .imgText {
    font-size: 5em;
  }
  .imgText h3 {
    font-size: 21px;
  }
  .navbar #menu {
    background: white;
    margin-top: 5px;
  }
  .container>.navbar-collapse {
    margin-right: -19px;
    margin-left: -19px;
  }

  .navbar-collapse > .navbar-nav  {
    margin: 0 10px 15px 10px;
  }
  .angleIcon .fa-stack {
    font-size: 1em;
    margin-left: 14%;
  }
  .iconPanelCont {
    margin-left: 30%;
    height: 137px;
    overflow: auto;
    padding-right: 10px;
  }
  .iconPanelCont .btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .iconPanelCont p {
    font-size: 1em;
  }
  
  #techs .img-circle{
    height: 80px;
    width: 80px;
  }
  #techs blockquote {
    margin: 0 15px;
    font-size: 0.8em;
  }
  #techs blockquote h3 {
    margin-bottom: 0;
  }
  #techs .col-sm-6 {
    margin-bottom: 15px;
  }
 .iconPanelCont p {
    font-size: 14px;
  }

}

@media (max-width: 480px) {
 #contactForm {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .iconPanelCont p {
    font-size: 13px;
  }
  #servicesPage .banner.service1, #servicesPage .banner.service3 {
    background-position: left !important;
  }
  #servicesPage .banner.service2 {
    background-position: right !important;
  }
}
@media (min-width: 900px) {
 address {
    margin-left: -5vw;
  }
}
